@model IEnumerable<Marcel_Socolan_Proiect.Models.Route>

@{
    ViewData["Title"] = "Toate rutele";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Toate rutele</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Route" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i>
                &nbsp;
                Adauga o noua ruta
            </a>
        </div>
    </div>

    <br/>

    <table class="table table-bordered table-stripped" style="width:100%">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DepartureTime)</th>
                <th>@Html.DisplayNameFor(model => model.ArrivalTime)</th>
                <th>@Html.DisplayNameFor(model => model.Passengers)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passengers)
            </td>
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="Route" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2">
                        <i class="bi bi-pencil"></i>
                        Editeaza
                    </a>
                </div>
            </td>
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="Route" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">
                        <i class="bi bi-trash"></i>
                        Sterge
                    </a>
                </div>
            </td>
        </tr>
}
        </tbody>
    </table>
</div>
